[submodule "extern/sdl2"]
	path = extern/sdl2
	url = https://github.com/spurious/SDL-mirror.git
[submodule "extern/eigen"]
	path = extern/eigen
	url = https://github.com/eigenteam/eigen-git-mirror.git
[submodule "extern/glbinding"]
	path = extern/glbinding
	url = https://github.com/cginternals/glbinding.git
